* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #171100;
  --tetx-color: #5f5b53;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* common */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  /* background-color: blue; */
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 144px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 24.5px;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}

.btn--active {
  background: #ffb900;
}

.btn:hover {
  cursor: pointer;
}

/* Header */
.header {
  /* background: #fffcf4; */
  background: var(--text-color);
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 53px 0 17px 0;
}

.header_nav ul {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header_nav--logo {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: var(--primary-color);
}

.header_nav a {
  text-decoration: none;
}

.header_nav ul a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: var(--text-color);
}

.header_nav--navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav--navigation .actions {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: var(--primary-color);
  position: relative;
}

.header_nav--navigation .actions::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 1px;
}

.header_nav--action {
  margin-left: 70px;
}

.header_nav .btn-action {
  padding: 18px 10px;
}

/* Hero */
.hero {
  padding: 64px 0;
  display: flex;
}

.hero-wrap {
  margin-right: 130px;
  min-width: 49%;
  position: relative;
}

.hero_wrap--image {
  display: inline-block;
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  left: 0;
}

/* Introduce */
.hero_wrap--introduce {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 244px;
  position: absolute;
  right: 0;
  bottom: 113px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero_wrap--introduce--card {
  margin: 24px 0 24px 24px;
}

.introduce_qty {
  padding-bottom: 14px;
  display: flex;
}

.introduce_qty--image {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #fff9e8;
  border-radius: 50%;
}

.introduce_qty--value--course {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--text-color);
}

.introduce_qty--value--desc {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary-color);
}

/* Hero-info */
.hero_info {
  margin: 64px 0 128px 0;
}

.hero_info--title {
  font-family: "Sen", sans-serif;
  width: 470px;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.hero_info--desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.hero_info--subscri {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero_info--subscri--btn {
  margin-right: 28px;
  width: 180px;
  height: 64px;
  background: #ffb900;
}

.hero_info--subscri--link {
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
  padding: 23px 0;
}

.hero_info--subscri--watch,
.subscri_watch--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscri_watch--icon {
  margin-right: 14px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
}

.subscri_watch--desc {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary-color);
}

.hero_info--qty {
  margin-top: 48px;
}

.hero_info--qty--title {
  margin-left: 48px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.hero_info--qty--lable,
.hero_info--qty--statistic {
  display: flex;
}

.hero_info--qty--lable {
  margin-left: 8px;
}

.hero_info--qty--statistic {
  align-items: baseline;
}

.hero_info--qty--statistic:first-child {
  margin-right: 28px;
}

.hero_info--qty--lable {
  margin-right: 18px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: var(--primary-color);
}

.hero_info--qty--desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

/* Courses */

.courses {
  margin-top: 200px;
}

/* course__intro */

.courses_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses_intro--title--sub {
  font-family: "sen", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.courses_intro--title--desc {
  margin-top: 16px;
  width: 458px;
  max-width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.course_intro--title-navi,
.course_intro--title--cir {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course_intro--title--cir {
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.course_intro--title--cir + .course_intro--title--cir {
  margin-left: 18px;
}

.courses_intro--icon--left {
  transform: rotate(180deg);
}

.courses_intro--icon--right {
  transform: rotate(180deg);
}

/* Course_items */

.courses_list {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses_list--items + .courses_list--items {
  margin-left: 30px;
}

.courses_list--items {
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.courses_list--image {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.courses_list--title,
.courses_list--desc,
.courses_list--label {
  margin-left: 22px;
}

.courses_list--title {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses_list--sub-title {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.courses_list--title--ratting {
  display: flex;
  align-items: center;
}

.courses_list--title--desc {
  margin: 0 22px 0 6px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fea31b;
}

.courses_list--desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--text-color);
}

.courses_list--label {
  margin-top: 12px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses_list--label--btn {
  margin-right: 22px;
  width: 118px;
}

.courses_list--label--btn-desc {
  padding: 18px 0;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}

/*================Testimonia================*/
.testimonial {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100% - 1140px) / 2);
  background: #2e2100;
}

.testimonial_wrap {
  display: flex;
  flex-direction: column;
  margin: 96px 0;
}

.testimonial_wrap--image {
  height: 72px;
  width: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial_wrap--title {
  margin-top: 18px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
}

.testimonial_wrap--desc {
  margin-top: 4px;
  min-width: 160px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}

.testimonial_wrap--icon {
  margin-top: 28px;
  flex-direction: row;
}

.testimonial_wrap--icon--dot {
  display: inline-block;
  background: #634700;
  width: 6px;
  height: 6px;
  gap: 6px;
  border-radius: 50%;
}

.testimonial_wrap--icon--dot:nth-child(2) {
  background-color: #ffb900;
}

.testimonial_intro {
  margin: 96px 0 96px 240px;
}

.testimonial_intro--title {
  margin-left: 30px;
  width: 740px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* =========== Features ================ */

.features {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.features_img {
  display: flex;
}

.features_img--item {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features_img--item:first-child {
  margin-top: 34px;
  margin-right: 30px;
}

.features_img--item:last-child {
  margin-bottom: 34px;
}

.features_intro {
  margin: 58px 0 58px 130px;
}

.features_intro--title {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.26;
  color: var(--primary-color);
}

.features_intro--desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}

.features_intro--head {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-color);
}

.features_intro--btn {
  margin-top: 32px;
  min-width: 137px;
}

.features_intro--btn-desc {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  padding: 17px 0;
}

/* =============== CTA =============== */
.cta {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.cta_intro {
  margin: 71px 130px 71px 0;
}

.cta_intro--title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.cta_intro--desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--tetx-color);
}

.cta_intro--btn {
  margin-top: 32px;
}

.cta_intro--btn--box {
  min-width: 137px;
  padding: 17px 0;
}

.cta_intro--btn--desc {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}

.cta_wrap--image {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
